*.a
aclocal.m4
amsynth.desktop
autom4te.cache
autopackage/default.apspec
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
.deps
*.in
install-sh
libtool
ltmain.sh
Makefile
missing
*.o
src/amSynth
stamp-h1

*.swp
