!m4/ax_cxx_compile_stdcxx*
.deps
.dirstamp
.libs
.vs
*.a
*.la
*.lo
*.o
*.swp
*.tar.gz
*~
ABOUT-NLS
aclocal.m4
amsynth
amsynth-tests
amsynth-tests.log
amsynth-tests.trs
amsynth.desktop
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/*metainfo.xml
data/amsynth.appdata.xml
debian/.debhelper/
debian/amsynth.debhelper.log
debian/amsynth.substvars
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/*
mac/build
mac/dstroot
Makefile
Makefile.in
man/*/amsynth.1
man/amsynth.1
missing
po/.intltool-merge-cache
po/*.gmo
po/*.header
po/boldquot.sed
po/insert-header.sin
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/stamp-it
stamp-h1
test-driver
test-suite.log
win/**/*.vcxproj.user
win/**/x64/**
xcuserdata
