*.a
*.in
*.la
*.lo
*.o
*.swp
*.tar.gz
*~
.deps
.dirstamp
.libs
aclocal.m4
amsynth
amsynth.desktop
autom4te.cache
build
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1
