<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>amsynth</string>
			<key>factoryFunction</key>
			<string>AmsynthAUFactory</string>
			<key>manufacturer</key>
			<string>Nicd</string>
			<key>name</key>
			<string>Nick Dowell: amsynth</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>Amsy</string>
			<key>tags</key>
			<array>
				<string>Synthesizer</string>
			</array>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>131072</integer>
		</dict>
	</array>
</dict>
</plist>
