name: Linux

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-${{ matrix.release }}
    strategy:
      matrix:
        include:
          # - release: 20.04
          #   cc: clang-10
          #   cxx: clang-10
          - release: 20.04
            cc: gcc-9
            cxx: g++-9
          - release: 22.04
            cc: clang-14
            cxx: clang++-14
          - release: 22.04
            cc: gcc-11
            cxx: g++-11
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2
        submodules: true
    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install autoconf-archive autopoint dssi-dev intltool libasound-dev libcurl4-openssl-dev libgtk2.0-dev libjack-jackd2-dev liblilv-0-0 liblo-dev lv2-dev pandoc
    - run: ./autogen.sh
    - run: ./configure --enable-compile-warnings=error --without-lash
    - run: make -j 2 distcheck
    - run: make -j 2
    - name: Run make install
      run: sudo make install
#    - run: ./utils/lv2lint.sh # lv2lint seems to have disappeared from the internet
    - name: Run make check
      run: |
        ./configure CFLAGS='-O0 -g -fprofile-arcs -ftest-coverage' --without-lv2 --without-dssi --without-vst --without-gui --without-lash
        make -j 2 check
    - name: Run gcov
      run: gcov -lp $(find . -name '*.c' -o -name '*.cpp')
      if: matrix.cc == 'gcc-11'
    - uses: codecov/codecov-action@v3
      if: matrix.cc == 'gcc-11'
    - uses: actions/upload-artifact@v3
      with:
        name: tarball
        path: amsynth-*.tar.gz
